body {
  cursor: none; /* 全局隐藏默认鼠标指针 */
}

.cursor {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  position: fixed; /* 固定定位，相对于视口 */
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%) scale(1); /* 初始缩放为 1 */
  z-index: 9999; /* 确保在最上层 */
  transition: transform 0.03s ease-out;
}

.enlarge-cursor {
  cursor: none; /* 可选 */
}

.slightly-enlarge-cursor {
  cursor: none; /* 可选 */
}

button {
  cursor: none !important;
}

a {
  cursor: none !important;
}
